In [1]:
def connect_to_mongo():
    # load the user and db password from the secrets.toml file
    user = st.secrets['username']
    db_password = st.secrets['password']

    # This is our database connection string, for a cluster called tb-ii
    uri = f"mongodb+srv://{user}:{db_password}@cluster0.y985h.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

    # Let's connect to our MongoClient
    client = MongoClient(uri)

    return client

In [2]:
import streamlit as st
from pymongo.mongo_client import MongoClient

In [3]:
client = connect_to_mongo()

In [5]:
 # define the data base
db_name = 'streamlit_registration_data'
# define the collection
collection_name = 'userinfo'
# connect to the collection
db = client[db_name]
collection = db[collection_name]

In [6]:
list(collection.find())

[{'_id': ObjectId('6745e23a23047905df82eda5'),
  'user_name': 'Relo',
  'password': 'relolo',
  'name': 'Reflord',
  'age': 25,
  'plant_name': 'bota',
  'created_at': datetime.datetime(2024, 11, 26, 15, 59, 6, 554000)},
 {'_id': ObjectId('6745e2e623047905df82eda7'),
  'user_name': 'test',
  'password': 'test',
  'name': 'test',
  'age': 13,
  'plant_name': 'test',
  'created_at': datetime.datetime(2024, 11, 26, 16, 1, 58, 962000)}]

In [10]:
import pandas as pd

user_data = pd.DataFrame(list(collection.find()))

In [11]:
user_data.head()

,_id,user_name,password,name,age,plant_name,created_at
0,6745e23a23047905df82eda5,Relo,relolo,Reflord,25,bota,2024-11-26 15:59:06.554
1,6745e2e623047905df82eda7,test,test,test,13,test,2024-11-26 16:01:58.962

In [16]:
user_data.shape

(2, 7)

In [19]:
usernames = list(user_data.user_name)
usernames

['Relo', 'test']

In [21]:
user_name = "Relo1"
if user_name in usernames:
    print("This username is taken")
else:
    print("New user created")

New user created